<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StyleDynLéa</title>
</head>
<body>
    <div id="monApp">
        <input v-model="nomClasse" v-on:keyup="changeClass" type="text">
        <p v-bind:class="classDynamique">Hello world</p>

        <input v-model="laCouleur" type="text">
        <p v-bind:style="{ backgroundColor: laCouleur }">Couleur de fond</p>

        <button v-on:click="affichage">Masquer 1er paragraphe</button>
    </div>

    <style>
        .hello {
            background-color: mediumslateblue;
            color: white;
            font-weight: bold;
        }
        .world {
            background-color: chartreuse;
            color: purple;
            font-style: italic;
        }
        .hidden {
            display: none;
        }
        .visible {
            display: block;
        }
    </style>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>